server:
  port: 8080
spring:
  application:
    name: ebuy-product-search
  profiles:
    active: dev
  jackson:
    serialization:
      write-dates-as-timestamps: false
      fail-on-empty-beans: false
    deserialization:
      fail-on-unknown-properties: false
    default-property-inclusion: non_null
app:
  opensearch:
    host: ${OPENSEARCH_HOST:localhost}
    port: ${OPENSEARCH_PORT:9200}
    scheme: ${OPENSEARCH_SCHEME:https}
    username: ${OPENSEARCH_USERNAME:admin}
    password: ${OPENSEARCH_PASSWORD:MyStr0ngP@ssw0rd!}
logging:
  level:
    com.ebuy.product.search: DEBUG
    org.opensearch: INFO
    root: INFO
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always