version: "3.8"

services:
  opensearch-node1:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node1
    environment:
      - discovery.type=single-node
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=MyStr0ngP@ssw0rd!   
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - "9200:9200"   # OpenSearch API
      - "9600:9600"   # Performance analyzer

  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    environment:
      - OPENSEARCH_HOSTS=["https://opensearch-node1:9200"]
      - OPENSEARCH_USERNAME=admin
      - OPENSEARCH_PASSWORD=MyStr0ngP@ssw0rd!
    ports:
      - "5601:5601"   # Dashboards UI
    depends_on:
      - opensearch-node1

volumes:
  opensearch-data:
